.Page {
  padding: 5%;
}

.PagesTitle {
  margin-bottom: 1em;

  color: #ffffff;
  opacity: 0.8;
}

.PagesParagraph {
  margin-bottom: 0.6em;

  line-height: 1.5;

  color: #ffffff;
  opacity: 0.6;
}
